<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Error login</title>
		<link rel="stylesheet" href="/estilos/estilosErrorLogin.css">
	</head>
	<body>
		<body href="#" id="fondo">
		<section href="#" id="cuadroDialogo">
		<img src="imagenes/avatar2.png" class="avatar">
			<p href="#" id="error">Usuario o contrasena</p>
			<form action="/logout" method="post">
			<p href="#" id="error2">incorrectos</p>
				<a href="login" id="btnVolver">Volver</a>
			</form>
		</section>
	</body>
	</body>
</html>