<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Cerrar sesion</title>
		<link rel="stylesheet" href="/estilos/estilosCerrarSesion.css">
	</head>
	<body href="#" id="fondo">
		<section href="#" id="cuadroDialogo">
		<img src="imagenes/avatar2.png" class="avatar">
			<p href="#" id="sesionCerrada">Sesion cerrada</p>
			<form action="/logout" method="post">
			<p href="#" id="pregunta">Quieres volver a entrar?</p>
				<a href="login" id="btnLogin">Iniciar sesion</a>
			</form>
		</section>
	</body>
</html>