<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
			<title>Cabecera fija</title>
		 		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
		        <link rel="stylesheet" href="/estilos/estilosContacto.css">
		        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">       
	</head>
	 
	<body>
		<form action="/mainPage">
			<header id="main-header">
				<a id="logo-header" href="#"><spam class="site-name">Contacto</spam></a> <!-- / #logo-header -->
				<a id="logo-titulo" href="#"><spam class="titulo">Contacto Cero</spam></a>			
				<nav>
					<ul>
						<li><a href="mainPage">Perfil<id="btn-ejercicios" type="submit" value="Perfil"><p></p></a></li>
						<li><a href="ejercicios">Ejercicios <id ="btn-ejercicios" type="submit" value="Ejercicios"></a></li>
						<li><a href="rutinas">Rutinas<id="btn-rutinas"  type="submit" value="Rutinas"></a></li>
						<li><a href="dietas">Dietas<id="btn-dietas"  type="submit" value="Dietas"></a></li>
						<li><a><p>Contacto</p></a></li>
					</ul>
				</nav>
			</header><!-- / #main-header -->
	 	</form>
	 	
	 	<main id="main-content">
	 		<nav class="main-menu">			
	            <ul>
	                <li>
	                    <a href="https://www.instagram.com/powerexplosive/">
	                    	<i class="fa fa-instagram fa-2x"></i><span class="nav-text">Instagram</span>
	                    </a>
	                </li>
	                <li class="has-subnav">
	                    <a href="https://twitter.com/explosiv0?lang=es">
							<i class="fa fa-twitter fa-2x"></i><span class="nav-text">Twitter</span>
	                    </a>
	                </li>
	                <li class="has-subnav">
	                    <a href="https://www.youtube.com/user/Powerexplosive">
							<i class="fa fa-youtube fa-2x"></i><span class="nav-text">YouTube</span>
	                    </a>
	                </li>
	                <li>
	                    <a href="https://www.facebook.com/Powerexplosive/">
							<i class="fa fa-facebook fa-2x"></i><span class="nav-text">Facebook</span>
	                    </a>
	                </li>
				</ul> 
	        </nav>
				
			<div class="row">
				<div class="container">
					<div class="col-md-8"></div>
						<div class="feed col-md-4">
			         	<div class="panel panel-danger">
			            	<div class="panel-body">
			               		<a class="twitter-timeline" data-width="100%" href="https://twitter.com/explosiv0">Tweets by ContactoCero</a> 
			            	</div>
			         	</div>
			      	</div>
			   	</div>
			</div>
		</main>
		
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</body>
</html>