<!--<<html>
<body>

<p>ESTA ES LA PAGINA DE EJERCICIOS</p>

</body>
</html>-->

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Cabecera fija</title>
 
        <link rel="stylesheet" href="estilosEjercicios.css">
</head>
 
<body>
	<form action="/ejercicios">
	<header id="main-header">
		
		<a id="logo-header" href="#">
			<spam class="site-name">Ejercicios</spam>
		</a> <!-- / #logo-header -->
		
 		<a id="logo-titulo" href="#">
			<spam class="titulo">Contacto Cero</spam>
		</a>
		
		<nav>
			<ul>
				<input id="btn-perfil" href="#" type="submit" value="Perfil">
				<input id="btn-perfil" href="#" type="submit" value="Ejercicios">
				<input id="btn-perfil" href="#" type="submit" value="Rutinas">
				<input id="btn-perfil" href="#" type="submit" value="Contacto">
			</ul>
		</nav><!-- / nav -->
  
	</header><!-- / #main-header -->
 </form>
	
	<section id="main-content">
	
	
	</section> <!-- / #main-content -->
 
	
	
	<!--<footer id="main-footer">
		<p>&copy; 2014 <a href="http://FranciscoAMK.com">FranciscoAMK.com</a></p>
	</footer>  / #main-footer -->
 
	
</body>
</html>