<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
			<title>Cabecera fija</title>
				<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet" 
				integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
				<link rel="stylesheet" href="/estilos/estilosRutinas.css">
	</head>

	<body>
		<form action="/rutinas">
			<header id="main-header">
				<a id="logo-header" href="#"> <spam class="site-name">Rutinas</spam></a><!-- / #logo-header -->
				<a id="logo-titulo" href="#"> <spam class="titulo">Contacto Cero</spam></a>
				<nav>
					<ul>
						<li><a href="mainPage">Perfil<id="btn-ejercicios" type="submit" value="Perfil"><p></p></a></li>
						<li><a href="ejercicios">Ejercicios <id="btn-ejercicios" type="submit" value="Ejercicios"></a></li>
						<li><a><p>Rutinas</p></a></li>
						<li><a href="dietas">Dietas<id="btn-dietas"  type="submit" value="Dietas"></a></li>
						<li><a href="contacto">Contacto<id="btn-contacto"  type="submit" value="Contacto"></a></li>
					</ul>
				</nav>
	
			</header>
			<!-- / #main-header -->
		</form>
		
		<main id="main-content">
			<ul id="forma-rutinas" href="#" class="article-list-vertical">
				<section href="#" id="nuevaRutina">
					{{#rutinas}}
					<p>Nombre: {{rutina}}</p>
					<p>Musculo: {{descripcion}}</p>
					<a class="botonRutina" href="#">Ver dieta →</a>
					<a class="botonRutina" href="#">Descargar dieta →</a>
					<section href="#" id="espacioBlanco">-</section>
					{{/rutinas}}		
				</section>
				
				<section id="asignarRutina">
					<form action="/cogerRutina">
						<p>Asignacion de rutina</p>
						<p>Nombre de la rutina</p>
						<input type="text" name='nombreRutina' placeholder="Introduce el nombre">
						<p>Nick del usuario</p>
						<input type="text" name='nombreUser' placeholder="Introduce el nombre""> 
						<input type="submit" value="Añadir">
					</form>
				</section>
			</ul>
			
			<nav class="main-menu">
				<ul>
					<li><a href="#"> <i class="fa fa-plus fa-2x"></i> <span class="nav-text"> Volumen </span></a></li>
					<li class="has-subnav"><a href="#"> <i class="fa fa-fire fa-2x"></i> <span class="nav-text">Definición </span></a></li>
					<li class="has-subnav"><a href="#"> <i class="fa fa-minus fa-2x"></i> <span class="nav-text">Perdida de peso </span></a></li>
			</nav>
		</main>
	</body>
</html>